services:
  mqbase:
    image: mqbase:${MQBASE_VERSION:-latest}
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        UID: ${USER_ID:-1000}
        GID: ${GROUP_ID:-1000}
      tags:
      - mqbase:${MQBASE_VERSION:-latest}
    hostname: mqbase
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - mqbase-data:/mosquitto/data
      - mqbase-log:/mosquitto/log
      - ./mosquitto/config:/mosquitto/config
    ports:
      - 1883:1883
      - 8883:8883
      - 8000:8000
      - 8080:8080
      - 9001:9001
    networks:
      - proxy
    env_file:
      - mqbase.properties
    secrets:
      - mqbase.secrets
    restart: always

secrets:
  mqbase.secrets:
    external: true

volumes:
  mqbase-data:
    name: mqbase-data
  mqbase-log:
    name: mqbase-log

networks:
  proxy:
    driver: overlay
    name: proxy
    attachable: true
    external: true
